body {
  margin: 0px;
  padding: 0px;    
}

#container {
    background-image: url('background%20game.png');
    background-size: cover;
    background-repeat: repeat;
    height: 100vh; 
    width: 100vw;
    
}